:root {
    --cor-de-fundo: #EBECEE;
}
body {
    background-color: var(--cor-de-fundo);
}
h1 {
    background-color: white;
    <body>
    <header class="cabeçalho">
        <span class="cabeçalho__menu-hamburguer"></span>
        <img src="img/Logo.svg" alt="Logo da AluraBooks">
        <a href="#"><img src="img/Favoritos.svg"></a>
        <a href="#"><img src="img/Compras.svg"></a>
        <a href="#"><img src="img/Usuario.svg"></a>
    </header>
</body>
